<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration
        PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:hsqldb:mem:clinic;sql.enforce_size=false</property>
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password"></property>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!--carlist-->

        <!--<mapping resource="rzaharov/carlist/models/Car.hbm.xml"/>-->
        <!--<mapping resource="rzaharov/carlist/models/Condition.hbm.xml"/>-->
        <!--<mapping resource="rzaharov/carlist/models/Engine.hbm.xml"/>-->
        <!--<mapping resource="rzaharov/carlist/models/User.hbm.xml"/>-->

        <mapping class="rzaharov.carlist.models.User"/>
        <mapping class="rzaharov.carlist.models.Engine"/>
        <mapping class="rzaharov.carlist.models.Condition"/>
        <mapping class="rzaharov.carlist.models.Car"/>

    </session-factory>
</hibernate-configuration>