<web-app>
    <servlet>
        <servlet-name>Users Controller Servlet</servlet-name>
        <servlet-class>rzaharov.servlets.UsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users Controller Servlet</servlet-name>
        <url-pattern>/e</url-pattern>
    </servlet-mapping>

    <!--Signin-->

    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>rzaharov.servlets.SigninController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <!--SignOut-->

    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>rzaharov.servlets.SignOutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>

    <!--Filter-->

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>rzaharov.servlets.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <!---->

    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>rzaharov.servlets.crudServlet.UsersServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <!--приложение для работы с пользователем-->

    <servlet>
        <servlet-name>Get Controller Servlet</servlet-name>
        <servlet-class>rzaharov.servlets.servlet.methods.GetController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Get Controller Servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Edit Controller Servlet</servlet-name>
        <servlet-class>rzaharov.servlets.servlet.methods.EditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Edit Controller Servlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Delete Controller Servlet</servlet-name>
        <servlet-class>rzaharov.servlets.servlet.methods.DeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete Controller Servlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Create Controller Servlet</servlet-name>
        <servlet-class>rzaharov.servlets.servlet.methods.CreateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Create Controller Servlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <!---->

</web-app>