<web-app>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>rzaharov.todolist.controllers.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Create</servlet-name>
        <servlet-class>rzaharov.todolist.controllers.Create</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>rzaharov.todolist.controllers.Edit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
</web-app>