<web-app>
    <!--<servlet>-->
        <!--<servlet-name>Index</servlet-name>-->
        <!--<servlet-class>rzaharov.todolist.controllers.Index</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>Index</servlet-name>-->
        <!--<url-pattern>/index</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>Create</servlet-name>-->
        <!--<servlet-class>rzaharov.todolist.controllers.Create</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>Create</servlet-name>-->
        <!--<url-pattern>/create</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>Edit</servlet-name>-->
        <!--<servlet-class>rzaharov.todolist.controllers.Edit</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>Edit</servlet-name>-->
        <!--<url-pattern>/edit</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--carList-->


    <!--<filter>-->
        <!--<filter-name>AuthFilter</filter-name>-->
        <!--<filter-class>rzaharov.carlist.authfilter.AuthFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>AuthFilter</filter-name>-->
        <!--<url-pattern>*</url-pattern>-->
    <!--</filter-mapping>-->

    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>rzaharov.carlist.controllers.Signout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>rzaharov.carlist.controllers.Signin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>rzaharov.carlist.controllers.Edit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/editCar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateCar</servlet-name>
        <servlet-class>rzaharov.carlist.controllers.CreateCar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCar</servlet-name>
        <url-pattern>/createCar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>rzaharov.carlist.controllers.Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>rzaharov.carlist.controllers.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
</web-app>